<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Airpin.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>9865E4FD1AD4E82100201BC5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9865E5121AD4E82100201BC5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E96101D31B2D4A0900D36C0C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
